body {
    background-color: #e9caca;
}
#search-bar {
    float: right;
    width: 30%;
}

.outer {
    background-color: white;
    margin: 10px 300px 10px;
    border: 2px black;
    border-radius: 10px;
    padding: 10px;
}

.wine {
    list-style-type: none;
    background-color: #eaeaeac7;

    margin: 5%; 
    border: 2px black;
    border-radius: 10px;
    padding: 10px;


    text-align: left;
} 

#varietal-list {
    list-style-type: none;
    margin: 0 auto;
}

.wine-form {
    list-style-type: none;
    background-color: #eaeaeac7;

    margin: 5%; 
    border: 2px black;
    border-radius: 10px;
    padding: 10px;


    text-align: left;
}


